main {
  display: grid;
  grid-template-columns: auto;
 background-color: black !important;
 overflow: auto;
}


img {
  margin: 25px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  
}
body {
  margin: 0 auto;
  padding: 0;
  color: #000;
}

section {
  background-color: black;
}